<!-- Not actually a video, but whatever -->
<div class="slider-wrapper">
  <ul class="slides-container" id="carousel">
    <li></li>
    <li></li>
  </ul>
</div>

<script>
     // Marcsello's super high JS skills are incredible really
     (function(){
          // Shuffle this list every so often (https://www.random.org/lists/):
          const images = [
               'images/slideshow/4.jpg',
               'images/slideshow/9.jpg',
               'images/slideshow/3.jpg',
               'images/slideshow/6.jpg',
               'images/slideshow/10.jpg',
               'images/slideshow/5.jpg',
               'images/slideshow/11.jpg',
               'images/slideshow/1.jpg',
               'images/slideshow/2.jpg',
               'images/slideshow/0.jpg',
               'images/slideshow/8.jpg',
               'images/slideshow/7.jpg',
          ]
          
          const injectPrefetchLinks = function() {
               images.forEach(url => {
                    const linkTag = document.createElement('link');
                    linkTag.rel = 'preload';
                    linkTag.href = url;
                    linkTag.as = 'image';

                    document.head.appendChild(linkTag); 
               })
               
          }
          injectPrefetchLinks() // let's do this quick, even before the DOM is fully ready


          let carousel = document.getElementById("carousel");

          // Firefox sometimes keeps the scroll position between reloads, let's tell it not to do this
          carousel.scrollTo({left: 0, behavior: 'instant'});

          let i = 0
          let nextI = 1
          let slides = carousel.getElementsByTagName('li')
          let slideA = slides[0]
          let slideB = slides[1]

          slideA.style.backgroundImage = `url('${images[i]}')`
          slideB.style.backgroundImage = `url('${images[nextI]}')` // start loading the next one as well

          const nextSlide = function() {   
               // There is no point in doing any animation when the user is not seeing it (also sometimes it would break because these pages get suspended)
               if (document.visibilityState !== 'visible') {
                    return
               }

               // Currently, we are on SlideB
               // Set SlideA to have the same image as SlideB, then quickly snap back to SlideA
               slideA.style.backgroundImage = `url('${images[i]}')`
               carousel.scrollTo({left: 0, behavior: 'instant'});

               // Now let the browser actually do the scrolling we requested above
               // After it's done, we set SlideB to the next image, and request another scroll, but it should be smooth this time
               let boundCurrentBackground = `url('${images[nextI]}')` // <- this is needed because we are about to change nextI
               let boundScrollSize = slideB.offsetLeft
               requestAnimationFrame(function() {
                    // I have no idea what this function does, but I hope it does what I expect it to do...
                    slideB.style.backgroundImage = boundCurrentBackground
                    carousel.scrollTo({left: boundScrollSize, behavior: 'smooth'});
               })

               // prepare next indices for the next turn
               i = nextI // i is actually the next pictureID
               nextI++ // and nextI is actually the image after it
               if (nextI >= images.length) {
                    nextI = 0
               }
          }

          // If the event bellow does not fire, that should not be a problem, because the code above will update the slides to contain the expected images before actually scrolling
          carousel.addEventListener("scrollend", () => {
               // make SlideA to be the same as SlideB again, and snap back the frame to where it was
               slideA.style.backgroundImage = `url('${images[i]}')`

               let boundNextBackground = `url('${images[nextI]}')`
               requestAnimationFrame(function() {
                    carousel.scrollTo({left: 0, behavior: 'instant'});
                    slideB.style.backgroundImage = boundNextBackground
               })               
          })
          
          window.addEventListener("load", () => {
               setInterval(nextSlide, 5200);
          })
          
     })()
</script>
